<section id="auth" class="main-section">
    <div id="auth-box-container">
        <div class="auth-text-container">
            <h3 class="auth-subtitle" id="auth-ask">Ask</h3>
            <h4 class="auth-sentence" id="auth-ask-text">Discover what people think of you.</h4>
        </div>
        <div class="auth-text-container">
            <h3 class="auth-subtitle" id="auth-answer">Answer</h3>
            <h4 class="auth-sentence" id="auth-answer-text">Let people know what you think of them.</h4>
        </div>
        <div class="auth-text-container">
            <h3 class="auth-subtitle" id="auth-admire">Admire</h3>
            <h4 class="auth-sentence" id="auth-admire-text">Check out who stands at the top.</h4>
        </div>
    </div>
    <div class="button-auth-container">
        <a href="/auth/login" class="auth-button">Login!</a>
        <a href="/auth/register" class="auth-button">Create an account</a>
    </div>
</section>
<script>

</script>