<h1>Register Page  </h1>

<form action="/auth/register" method="POST">
  <label>Username</label>
  <input type="text" name="username" placeholder="Username">
  <label>Email</label>
  <input type="text" name="email" placeholder="Email">
  <label>Password</label>
  <input type="password" name="password" placeholder="********">
  <label>Repeat password</label>
  <input type="password" name="repeatedPassword" placeholder="********">
  <button type="submit">Register</button>

  {{!-- Login de google --}}

    <div class="g-signin2" data-onsuccess="onSignIn"></div>


  <div class="g-signin2" data-onsuccess="onSignIn"></div>

</form>

{{#if error}}
<h2>{{error}}</h2>
{{/if}}