<h1>Register Page  </h1>

<form action="/register" method="POST">
  <label for="userName">Username:</label><br>
  <input type="text" id="username" name="username" value="Username"><br>
  <label for="lname">Email:</label><br>
  <input type="text" id="lname" name="lname" value="hola@lit.com"><br><br>
    <label for="lname">Gender:</label><br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> Boy </label><br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> Girl</label><br>
     <label for="lname">Password</label><br>
  <input type="text" id="lname" name="lname" value="********"><br><br>
   <label for="lname">Repeat Password</label><br>
  <input type="text" id="lname" name="lname" value="*********"><br><br>
  <input type="submit" value="Submit">
</form> 