<section id="auth" class="main-section">
    <div id="auth-box-container">
        <div class="auth-text-container">
            <h3 class="auth-subtitle" id="auth-ask">Oops!</h3>
            <h4 class="auth-sentence" id="auth-ask-text">Something went terribly wrong.</h4>
        </div>
        <div class="auth-text-container">
            <h3 class="auth-subtitle" id="auth-answer">We're working on it.</h3>
            <h4 class="auth-sentence" id="auth-answer-text">A team of monkeys is hands on deck.</h4>
        </div>
        <div class="auth-text-container">
            <h3 class="auth-subtitle" id="auth-admire">Thank you.</h3>
            <h4 class="auth-sentence" id="auth-admire-text">Sincerely, the Lit Tech Team.</h4>
        </div>
    </div>
    <div class="button-auth-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Typing_monkey.svg/1200px-Typing_monkey.svg.png" style="width:300px">
    </div>
</section>