<section id="landing" class="main-section">
    <h2>Lit your circle on fire with Lit</h2>
    <h3>Answer questions</h3>
    <h4>Let people know what you think of them.</h4>
    <h3>Ask questions</h3>
    <h4>Discover what people think of you.</h4>

    <a href="/question">Try out Lit Early Access</a>
    <a href="https://www.golit.co/">Learn more about Lit</a>
</section>