<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='/stylesheets/style.css' rel="stylesheet"/>
  <title>Lit</title>
</head>
<body>
  <header id="navigation">
    <a href ="/notifications"><img src="/images/orange-bell.svg" height="60px"/></a>
    <a href ="/"><h1 id="app-name">LIT</h1></a>
    <a href ="/profile"><img src="/images/white-user.svg" height="60px"/></a>
  </header>
  <section class="main">

    {{{ body }}}

  </section>

  <nav id="navigation">
    <a href="/submit-question"><img src="/images/pink-add.svg" height="60px"/></a>
    <a href="/question"><img src="/images/yellow-flame.svg" height="60px"/></a>
    <a href="/leaderboard"><img src="/images/blue-leaderboard.svg" height="60px"/></a>
  </nav>
  
</body>
</html>