<h1>Login Page</h1>

<form action="/login">
  <label for="userName">Username:</label><br>
  <input type="text" id="username" name="username" value="Username"><br>
  <label for="lname">Email:</label><br>
  <input type="text" id="lname" name="lname" value="hola@lit.com"><br><br>
  <input type="submit" value="Submit">
</form> 