<section id="notifications" class="main-section">
    <h1>Last 24 hours</h1>
    {{#if data}}
        {{#each data}}
            <h2 class="notification-text"><span class="notification-user">{{this.userAsked}}</span> answered your name in a question about <span class="notification-category">{{this.questionCategory}}!</span></h2>
            <h2 class="notification-emoji">{{this.emoji}}</h3>
        {{/each}}
    {{else}}
        <h2>You have no notifications at the moment!</h2>
    {{/if}}
</section>
