<h1>{{randomQuestion.question}}</h1>
<div class="answer-buttons">
<h1>{{user1}}</h1>
{{!-- {{#each randomUsers}}
<h1>{{this._id}}</h1>
<button type="submit">{{username}}</button>
{{/each}} --}}
</div>