<h1>Submit a question</h1>

<div class="submit-question-container">
    <form action="/submit-question" method="POST">
        <label>Question</label>
        <input type="text" name="question" required>

        <label>Category</label>
        <select name="category">
            <option value="Baldness">Baldness</option>
            <option value="Attractiveness">Attractiveness</option>
            <option value="Style">Style</option>
            <option value="Programming skills">Programming Skills</option>
        </select>

        <label>Is the question positive or negative for its category?</label>
        <input type="checkbox" name="safe"/>

        <label>Does the question contain sensitive content?</label>
        <input type="checkbox" name="safe"/>

        <button type="submit">Submit question</button>
    </form>
</div>

{{#if error}}
    <h1 class="error">{{error}}</h1>
{{/if}}