<section id="submit-question-menu" class="main-section">
    <h1>Submit a question</h1>
    <div class="submit-question-container">
        <form action="/submit-question" method="POST">
            <div class="user-field user-field-edit">
                <label class="user-info-text" id="submit-question-emoji">Emoji</label>
                <input id="submit-question-emoji-input" class="emoji-input" type="text" name="emoji">
            </div>
            <div class="user-field user-field-edit">
                <label class="user-info-text" id="submit-question-question-text">Question</label>
                <br>
                <textarea id="question-input" type="text" name="question" maxlength="170" required></textarea>
            </div>      
            <div class="user-field user-field-edit">
                <select name="category" id="submit-question-option-selector">
                    <option value="Calvicie">Calvicie</option>
                    <option value="Atractivo">Atractivo</option>
                    <option value="Estilo">Estilo</option>
                    <option value="Ironhacker">Ironhacker</option>
                    <option value="Carisma">Carisma</option>
                    <option value="Buena vibra">Buena vibra</option>
                    <option value="Locura">Locura</option>
                    <option value="Fitness">Fitness</option>
                </select>
            </div>
            <div class="user-field user-field-edit" id="submit-question-check-field">
                <label class="user-info-text">Is it a positive question?</label>
                <input type="checkbox" name="effectCheck" checked/>
            </div>
            <div class="user-field user-field-edit" id="submit-question-check-field">
                <label class="user-info-text">Does it have sensitive content?</label>
                <input type="checkbox" name="safeCheck"/>
            </div>
            <div id="login-container">
                <button type="submit" id="login-button">Submit question</button>
            </div>
        </form>
    </div>
    <div id="edit-messages-box">
    {{#if success}}
        <h2 class="update-success">✅ Question submitted!</h2>
    {{/if}}
    {{#if error}}
    {{#each error}}
      <h2 class="error-message">❌{{this}}</h2>
    {{/each}}
    {{/if}}
    </div>
</section>