@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-pt');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* styling starts here */

html {
  font-family: 'Bowlby One SC';
  font-size: 16px;
}

/* color palette */

:root {
  --br: 15px;
  --primary-black: black;
  --primary-orange: #FF8A5B;
  --secondary-orange:#FFA783;
  --primary-yellow: #ffe066;
  --secondary-yellow: #FFD326;
  --primary-blue: #2be8eb;
  --secondary-blue: #23C2C4;
  --primary-pink:#f56882;
  --secondary-pink:rgba(251, 130, 152, 1);
  --basic-white: #fff;
  --profile-grey:#EBEAEA;
  --profile-lightgrey:#F6F6F6;
}

/* Common styles */

body {
  padding: 0;
  margin: 0;
  height:100vh;
  background-color:transparent;
}

.main {
  background-color: var(--primary-black);
  padding:10vh 0;
  min-height:80vh;
}

img {
  width:110px;
}

#app-name {
  font-family:'Bowlby One SC';
  font-size:2.3rem;
  background: -webkit-linear-gradient(var(--primary-pink), var(--primary-yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size:1.8rem;
  font-family:'Bowlby One SC';
  color:var(--basic-white);
  padding-bottom:5%;
  -webkit-text-stroke:1px black;
}

h2, h3, h4, label {
  font-family:'Futura PT', sans-serif;
  font-weight:500;
  font-size: 1.5rem;
}

span {
  font-family:'Futura PT', sans-serif;
  font-weight:500;
}

header, nav {
  height:10vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
}

header {
  position: fixed;
  top: 0;
  width:100%;
}

nav {
  position:fixed;
  bottom:0;
  width:100%;
}

svg {
  fill: white;
  height:10vmin;
}

a {
  color: black;
  text-decoration: none;
}

.main-section {
  position: fixed;
  margin: 0 5%;
  min-width:80%;
  padding: 5%;
  height:75%;
  border-radius:15px;
  overflow-y: auto;
}

/* Landing styles */

#landing-app-name {
  font-family:'Bowlby One SC';
  font-size:3rem;
  background: -webkit-linear-gradient(var(--primary-pink), var(--primary-yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align:center;
  padding-bottom:10%;
}

#landing {
  background-color:var(--primary-black);
}

#landing-ask-text, #landing-answer-text, #landing-admire-text {
  padding:2%;
  border-radius:15px;
}

#landing-ask-text {
  background-color: var(--primary-pink);
}

#landing-answer-text {
  background-color: var(--primary-yellow);
}

#landing-admire-text {
  background-color: var(--primary-blue);
}

.landing-text-container {
  margin: 5% 0;
  
}

#ask-container {
  margin: 5% 0;
  transform: translateY(100%);
  animation: slide-in 1s ease-in forwards;
}

#answer-container {
  opacity:0;
  margin: 5% 0;
  transform: translateY(100%);
  animation: slide-in 1s ease-in forwards;
  animation-delay:500ms;
}

#admire-container {
  opacity:0;
  margin: 5% 0;
  transform: translateY(100%);
  animation: slide-in 1s ease-in forwards;
  animation-delay:1000ms;
}


@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.landing-subtitle {
  font-size:1.2rem;
  padding: 2%;
}

.landing-sentence {
  color:black;
  font-size:0.8rem;
}

#landing-ask {
  color:var(--primary-pink);
}

#landing-ask, #landing-ask-text {
  text-align:left;
}

#landing-answer {
  color:var(--primary-yellow);
}

#landing-answer, #landing-answer-text {
  text-align:center;
} 

#landing-admire {
  color:var(--primary-blue);
}

#landing-admire, #landing-admire-text {
  text-align:right;
}

#landing > a {
  color:white;
}

.landing-button-text {
  margin-top: 30%;
  text-align: center;
}

#learn-more-button {
  font-size: 1rem;
  margin: 10% auto;
  padding: 0.6rem 2rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background:linear-gradient(rgb(17,17,17), rgb(70, 70, 70));
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#early-access-button {
  margin: 20% auto;
  padding: 0.6rem 2rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background:linear-gradient(rgb(17,17,17), rgb(70, 70, 70));
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#early-access-button:before {
  content: "";
  background: linear-gradient(45deg, var(--primary-pink), var(--primary-orange), var(--primary-blue), var(--primary-yellow));
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#early-access-button:active {
  transform: translateX(4px) translateY(4px);
  opacity:0.5;
}

.landing-buttons {
  opacity:0;
  animation: fade-in 1s linear forwards;
  animation-delay:3000ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Admin view styles */

#admin {
  background-color: var(--primary-yellow);
  background-image:url(/images/question-section-background.svg);
  background-size:cover;
}

#logout-button-admin {
  font-family:'Futura PT';
  font-size:1rem;
  padding: 2% 4% 2% 4%;
  background:linear-gradient(rgb(150, 0, 0), red);
  color:white;
  border-style:none;
  border-radius:10px;
  width:20vmin;
  height:10vmin;
}

.admin-container {
  display:flex;
  flex-direction:row;
  border-style: solid;
  gap: 3vmin;
  align-items:center;
  border-width: 2px;
  border-color:var(--primary-black);
  border-radius:15px;
  background-color:var(--secondary-yellow);
  padding: 5%;
  margin: 5% auto;
}

.admin-emoji {
  font-size: 2rem;
}

.admin-text {
  font-style:italic;
  background-color:var(--primary-yellow);
  padding: 5%;
  margin: 4% 0;
  font-size: 1.1rem;
  border-radius: 5px;
  width:fit-content;
}

.admin-category {
  font-size:1rem;
}

#approve, #reject {
  width: 20vmin;
}

#approve {
  font-family:'Futura PT';
  padding: 5%;
  font-size:1rem;
  color:white;
  border-style:none;
  border-radius:10px;
  text-align:center;
  background: linear-gradient(rgb(0, 60, 0), rgb(0, 140, 0));
}

#reject {
  font-family:'Futura PT';
  font-size:1rem;
  padding: 5%;
  background:linear-gradient(rgb(150, 0, 0), red);
  color:white;
  border-style:none;
  border-radius:10px;
}

/* Login and registration styles */

#auth {
  background-size: cover;
  background-image: url(/images/question-section-background.svg);
  animation: image-transition 40s infinite alternate;
  animation-delay:3000ms;
}

@keyframes image-transition {
  0% {
    background-image: url(/images/question-section-background.svg);
  }
  33% {
    background-image: url(/images/submit-question-section-background.svg);
  }
  66% {
    background-image: url(/images/leaderboard-section-background.svg);
  }
  100% {
    background-image: url(/images/notification-section-background.svg);
  }
}

#auth-box-container {
  background-color: black;
  padding: 1% 0 5% 0;
  margin-top: 10%;
  border-radius: 10px;
  border-style:none;
}

#auth-ask {
  color:var(--primary-pink);
}

#auth-ask, #auth-ask-text {
  text-align:left;
}

#auth-answer {
  color:var(--primary-yellow);
}

#auth-answer, #auth-answer-text {
  text-align:center;
} 

#auth-admire {
  color:var(--primary-blue);
}

#auth-admire, #auth-admire-text {
  text-align:right;
}

#auth-ask-text, #auth-answer-text, #auth-admire-text {
  padding:2%;
}

#auth-ask-text {
  background-color: var(--primary-pink);
}

#auth-answer-text {
  background-color: var(--primary-yellow);
}

#auth-admire-text {
  background-color: var(--primary-blue);
}

.auth-text-container {
  margin: 5% 0;
  
}

#auth-ask-container {
  margin: 5% 0;
  transform: translateY(100%);
  animation: slide-in 1s ease-in forwards;
}

#auth-answer-container {
  opacity:0;
  margin: 5% 0;
  transform: translateY(100%);
  animation: slide-in 1s ease-in forwards;
  animation-delay:500ms;
}

#auth-admire-container {
  opacity:0;
  margin: 5% 0;
  transform: translateY(100%);
  animation: slide-in 1s ease-in forwards;
  animation-delay:1000ms;
}

.auth-subtitle {
  font-size:1.2rem;
  padding: 2%;
  margin: 0 4%;
}

.auth-sentence {
  color:black;
  font-size:0.8rem;
  margin: 0 4%;
  border-radius:5px;
}

.button-auth-container {
  padding: 4%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin-top:40%;
}

.auth-button {
  padding: 3% 4% 3% 4%;
  background:linear-gradient(black, rgb(70, 70, 70));
  border-radius:10px;
  font-family:'Futura PT';
  color:white;
  font-size:1rem;
  width:40vmin;
  text-align:center;
  margin-bottom:20%;
}

#auth-changing-background {
  position:fixed;
  left:0;
  top:0;
}

.auth-field {
  color: white;
  background-color:var(--profile-lightgrey);
  padding:2%;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius:10px;
  border-color:black;
  border-style:solid;
  border-width:1px;
}

.auth-info-text {
  font-weight:400;
  color:black;
  font-size:1.2rem;
}

.button-auth-container {
  padding: 4%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.auth-button {
  padding: 3% 4% 3% 4%;
  background:linear-gradient(black, rgb(70, 70, 70));
  border-radius:10px;
  font-family:'Futura PT';
  color:white;
  font-size:1rem;
}

/* Login view */

#login-container {
  padding: 4%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

#login-button {
  padding: 2% 4%;
  background:linear-gradient(black, rgb(70, 70, 70));
  border-radius:10px;
  font-family:'Futura PT';
  color:white;
  font-size:1rem;
}

.login-box-container {
  margin-top: 70%;
}

/* Register view */

#register-form {
  margin-top: 40%;
}

#register-button {
  padding: 2% 4%;
  background:linear-gradient(black, rgb(70, 70, 70));
  border-radius:10px;
  font-family:'Futura PT';
  color:white;
  font-size:1rem;
}

/* Question menu styles */

#question-menu {
  background-image:url(/images/question-section-background.svg);
  background-size:cover;
}

#question-container {
  max-width: 100%;
  margin: 15% auto;
  text-align:center;
}

.question-menu-text {
  font-size:1.6rem;
  background-color:rgba(255,255,255,0.5);
  border-radius:10px;
  padding:2%;
}

.question-emoji {
  font-size:6rem;
  margin-bottom: 15%;
}

.answer-buttons-container {
  position:absolute;
  top: 65%;
  left: 0%;
}

.answer-buttons-container > form {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content: center;
  justify-content: center;
  gap:4vmin;
}

.answer-button {
  display:block;
  background:linear-gradient(rgb(17,17,17), rgb(70, 70, 70));
  border-style:none;
  border-radius:10px;
  width: 40vmin;
  height: 15vmin;
  color:white;
  font-family:'Bowlby One SC';
  font-size:1.1rem;
  box-shadow: 3px 3px 3px 0px var(--primary-black);
}

.bouncy {
  animation:bouncy 7s infinite linear;
  position:relative;
}

@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
}

.answer-button:active {
  transform: translateX(2px) translateY(2px);
  opacity:0.5;
}

/* Leaderboard menu styles */

#leaderboard-menu {
  background-color: var(--primary-blue);
  background-image: url(/images/leaderboard-section-background.svg);
  background-size: cover;
}

.leaderboard-category-selector {
  margin-top:50%;
}

#leaderboard-option-selector {
  background-color:rgba(255,255,255,0.6);
  border-width:0;
  border-radius:5px;
  font-family:'Futura PT';
  font-size:1.2rem;
  padding:1%;
  font-weight:500;
  width:100%;
  text-align:center;
}

.bar-graph {
  position:relative;
  top:20vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bar-container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.bar-graph .score {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
}

.bar-graph-vertical {
  margin-top: 80px;
  max-width: 680px;
}

.bar-graph-vertical .bar-container {
  float: left;
  height: 60vmin;
  margin-right: 2vmin;
  position: relative;
  text-align: center;
  width: 10vmin;
}

.bar-graph-vertical .bar {
  border-radius: 3px;
  bottom: 40px;
  position: absolute;
  width: 40px;
}

.user {
  margin-top: 50vmin;
  text-align:center;
}

.bar-graph-two .bar::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  content: attr(score);
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: -20px;
}

.bar-graph-two .bar-one .bar {
  background-color: var(--primary-yellow);
  -webkit-animation: show-bar-one-vertical 1.2s 0.1s forwards;
  -moz-animation: show-bar-one-vertical 1.2s 0.1s forwards;
  animation: show-bar-one-vertical 1.2s 0.1s forwards;
}

.bar-graph-two .bar-two .bar {
  background-color: var(--primary-orange);
  -webkit-animation: show-bar-two-vertical 1.2s 0.2s forwards;
  -moz-animation: show-bar-two-vertical 1.2s 0.2s forwards;
  animation: show-bar-two-vertical 1.2s 0.2s forwards;
}

.bar-graph-two .bar-three .bar {
  background-color: var(--primary-pink);
  -webkit-animation: show-bar-three-vertical 1.2s 0.3s forwards;
  -moz-animation: show-bar-three-vertical 1.2s 0.3s forwards;
  animation: show-bar-three-vertical 1.2s 0.3s forwards;
}

@-webkit-keyframes show-bar-one-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 40%;
  }
}

@-webkit-keyframes show-bar-two-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 70%;
  }
}

@-webkit-keyframes show-bar-three-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#first-ranked {
  height:65vmin;
}

#second-ranked {
  height:40vmin;
}

#third-ranked {
  height:25vmin;
}

/* Submit question menu styles */

#submit-question-menu {
  background-color: var(--primary-pink);
  background-image: url(/images/submit-question-section-background.svg);
  background-size: cover;
}

#submit-question-option-selector {
  background-color:rgba(255,255,255,0.6);
  border-width:0;
  border-radius:5px;
  font-family:'Futura PT';
  font-size:1.2rem;
  padding:1%;
  font-weight:500;
  width:100%;
  text-align:center;
}

#submit-question-check-field > label {
  width: 65vmin;
}

#submit-question-emoji, #submit-question-question-text {
  font-size:1.5rem;
}

#submit-question-emoji-input {
  width: 10vmin;
  text-align: center;
  opacity:1;
  font-size:1.5rem;
}

#question-input {
  height:20vmin;
  width:97%;
}

textarea {
  margin-top:2%;
  padding: 1%;
  border-radius: 5px;
  border:none;
  opacity:0.5;
  background-color:white;
  font-size:1rem;
  font-family:'Futura PT';
  font-weight:500;
  font-style:italic;
}

textarea:focus {
  opacity:1;
  background-color:white;
}

input[type=checkbox] {
  opacity:1;
  background-color:var(--primary-pink);
  height:5vmin;
  width:5vmin;
}

/* Notifications menu styles */

#notifications {
  background-color: var(--primary-orange);
  background-image: url(/images/notification-section-background.svg);
  background-size:cover;
}

.notification-container {
  display:flex;
  flex-direction:row;
  border-style: solid;
  gap: 3vmin;
  align-items:center;
  border-width: 2px;
  border-color:var(--primary-black);
  border-radius:15px;
  background-color:black;
  padding: 5%;
  margin: 5% auto;
}

.notification-emoji {
  font-size: 2rem;
}

.notification-text {
  color:white;
  font-size: 1rem;
  text-align:justify;
}

.notification-user, .notification-category {
  font-family:'Bowlby One SC';
}

.notification-user {
  color:var(--primary-yellow);
}

.notification-category {
  color:var(--primary-blue);
}


/* Profile menu styles */

#profile {
  background-image:url(/images/profile-section-background.svg);
  background-size:cover;
}

#profile h1 {
  color: var(--primary-black);
  -webkit-text-stroke: white;
}

.user-field {
  color: white;
  background-color:var(--profile-lightgrey);
  padding:2%;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius:10px;
  border-color:black;
  border-style:solid;
  border-width:1px;
}

.user-info-text {
  font-weight:400;
  color:black;
  font-size:1.2rem;
}

.button-profile-container {
  padding: 4%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.profile-button {
  padding: 3% 4% 3% 4%;
  background:linear-gradient(black, rgb(70, 70, 70));
  border-radius:10px;
  font-family:'Futura PT';
  color:white;
  font-size:1rem;
}

#logout-button {
  font-family:'Futura PT';
  font-size:1rem;
  padding: 2% 4% 2% 4%;
  background:linear-gradient(rgb(150, 0, 0), red);
  color:white;
  border-style:none;
  border-radius:10px;
  margin-top: 56%;
}

.logout-container > form {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#delete-button, #logout-button {
  font-family:'Futura PT';
  padding: 2% 4% 2% 4%;
  font-size:1rem;
  color:white;
  border-style:none;
  border-radius:10px;
  text-align:center;
}

#save-changes-button {
  font-family:'Futura PT';
  padding: 3% 4% 3% 4%;
  font-size:1rem;
  color:white;
  border-style:none;
  border-radius:10px;
  text-align:center;
  background: linear-gradient(rgb(0, 60, 0), rgb(0, 140, 0));
}

.user-field-edit > label {
  display: inline-block;
  width: 30vmin;
  text-align:left;
}

input {
  padding: 1%;
  border-radius: 5px;
  border:none;
  opacity:0.5;
  background-color:white;
}

input:focus {
  opacity:1;
  background-color:white;
}

#go-back-container, #save-changes-container {
  padding: 4%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.delete-container > form {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#delete-button {
  font-family:'Futura PT';
  font-size:1rem;
  padding: 2% 4% 2% 4%;
  background:linear-gradient(rgb(150, 0, 0), red);
  color:white;
  border-style:none;
  border-radius:10px;
  margin-top: 40%;
}

#edit-messages-box {
  position: absolute;
  bottom: 20%;
}

#edit-messages-box > .update-success {
  font-size: 1.2rem;
  font-family: 'Futura PT';
  animation: fade-out 1s linear forwards;
  animation-delay:1000ms;
}

@keyframes fade-out {
0% {
  opacity: 1;
}
100% {
  opacity: 0;
}
}

#edit-messages-box > .error-message {
  font-size: 0.8rem;
  font-family: 'Futura PT';
  animation: fade-out 2s linear forwards;
  animation-delay:5000ms;
  text-align:justify;
  width: 75vw;
  padding:1%;
  margin:1% 0;
}

.question-container {
  display:flex;
  flex-direction:row;
  border-style: solid;
  gap: 3vmin;
  align-items:center;
  border-width: 2px;
  border-color:var(--primary-black);
  border-radius:15px;
  background-color:var(--profile-grey);
  padding: 3%;
  margin: 3% auto;
}

.question-emoji-profile {
  font-size: 2rem;
}

.question-category, .question-text, .question-activity {
  color:black;
  font-size: 1rem;
  text-align:justify;
  margin: 1% 0;
}

.question-text {
  font-style:italic;
  background-color:var(--profile-lightgrey);
  padding: 2%;
  font-size: 0.8rem;
  border-radius: 5px;
}