@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-pt');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* styling starts here */

html {
  font-family: 'Bowlby One SC';
  font-size: 16px;
}

/* color palette */

:root {
  --br: 15px;
  --primary-black: black;
  --primary-orange: #FF8A5B;
  --primary-yellow: #ffe066;
  --primary-blue: #2be8eb;
  --primary-pink:#F56882;
  --basic-white: #fff;
}

/*  Login and register forms */

.login-div {
  background-color: blue;
}

.login-form {
  justify-content: center;
}

body {
  padding: 0;
  margin: 0;
  height:100vh;
  background-color:transparent;
}

.main {
  background-color: var(--primary-black);
  padding:10vh 0;
  min-height:80vh;
}

img {
  width:110px;
}

#app-name {
  font-family:'Bowlby One SC';
  font-size:2.3rem;
  background: -webkit-linear-gradient(var(--primary-pink), var(--primary-yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size:2.3rem;
  font-family:'Bowlby One SC';
  color:var(--basic-white);
}

h2, h3, h4, label {
  font-family:'Futura PT', sans-serif;
  font-weight:500;
  font-size: 1.5rem;
}

header, nav {
  height:10vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
}

header {
  position: fixed;
  top: 0;
  width:100%;
}

nav {
  position:fixed;
  bottom:0;
  width:100%;
}

svg {
  fill: white;
  height:10vmin;
}

.rank {
  position:relative;
  top:15vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.leader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 10vmin;
}

.rank-bar {
  background-color: black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 10vmin;
}

#first-ranked {
  height:65vmin;
}

#second-ranked {
  height:40vmin;
}

#third-ranked {
  height:25vmin;
}

a {
  color: black;
  text-decoration: none;
}

/* Common styles */

.main-section {
  position: absolute;
  width:90%;
  margin: 0 5vmin;
  height:80%;
  border-radius:10px;
}

/* Landing styles */

#landing, #admin, #auth {
  background-color: var(--primary-yellow);
}

/* Question menu styles */

#question-menu {
  background-color: var(--primary-yellow);
}

#question-container {
  max-width: 80%;
  margin: 15% auto;
  text-align:center;
}

.question-text {
  font-size:1.8rem;
}

.question-emoji {
  font-size:6rem;
  margin-bottom: 15%;
}

.answer-buttons-container {
  position:absolute;
  top: 55%;
  left: 0%;
}

.answer-buttons-container > form {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content: center;
  justify-content: center;
  gap:8vmin;
}

.answer-button {
  display:block;
  background-color:var(--primary-purple);
  border-style:none;
  border-radius:10px;
  width: 35vmin;
  height: 15vmin;
  color:white;
  font-family:'Bowlby One SC';
  font-size:1.2rem;
  box-shadow: 3px 3px 3px 0px var(--primary-black);
}

.answer-button:active {
  transform: translateX(2px) translateY(2px);
  background-color:var(--primary-pink);
}

/* Leaderboard menu styles */

#leaderboard-menu {
  background-color: var(--primary-blue);
}

/* Submit question menu styles */

#submit-question-menu {
  background-color: var(--primary-pink);
}

/* Notifications menu styles */

#notifications {
  background-color: var(--primary-orange);
}

/* Notifications menu styles */

#profile {
  background-color: var(--primary-orange);
}