<section id="landing" class="main-section">
    <h1 id="landing-app-name">LIT</h1>
    <div class="landing-text-container" id="ask-container">
        <h3 class="landing-subtitle" id="landing-ask">Ask</h3>
        <h4 class="landing-sentence" id="landing-ask-text">Discover what people think of you.</h4>
    </div>
    <div class="landing-text-container" id="answer-container">
        <h3 class="landing-subtitle" id="landing-answer">Answer</h3>
        <h4 class="landing-sentence" id="landing-answer-text">Let people know what you think of them.</h4>
    </div>
    <div class="landing-text-container" id="admire-container">
        <h3 class="landing-subtitle" id="landing-admire">Admire</h3>
        <h4 class="landing-sentence" id="landing-admire-text">Check out who stands at the top.</h4>
    </div>
    <h4 class="landing-button-text" id="early-access-text"><a href="/question" id="early-access-button">Early Access</a></h4>
    <h4 class="landing-button-text" id="early-access-text"><a href="https://www.golit.co/" id="learn-more-button">Learn more</a></h4>
</section>